.btn
    display: flex
    justify-content: center
    align-items: center
    width: 157px
    height: 44px
    border: none
    border-radius: 4px
    background-color: $dark-green
    font-weight: 400
    font-size: 16px
    line-height: 125%
    color: $white
    cursor: pointer

.btn--white
    width: 213px
    height: 52px
    background-color: $white
    font-weight: 700
    color: $dark-green

.btn--large
    width: 200px
    height: 52px
    font-weight: 600
