.btn
    font-weight: 400
    font-size: 16px
    line-height: 125%
    color: $white
    width: 157px
    height: 44px
    border: none
    border-radius: 4px
    padding: 12px 24px
    background-color: $dark-green
    cursor: pointer

.btn--white
    font-weight: 700
    color: $dark-green
    width: 213px
    height: 52px
    background-color: $white

.btn--large
    font-weight: 600
    width: 200px
    height: 52px
