.footer
    font-size: 14px
    color: $white
    background-color: $dark-green
    padding-top: 175px
    &__top
        display: flex
        padding-bottom: 80px
    &__title
        font-size: 20px
        margin-bottom: 17px
    &__text
        font-size: 300
        color: $white
        margin-bottom: 80px
    &__contacts-wrap
        display: flex
        gap: 24px
        text-decoration-skip-ink: none
        margin-bottom: 32px
    &__mail
        color: inherit
    &__tel
        color: inherit
    &__social-wrap
        display: flex
        gap: 16px
    &__list
        list-style-image: url("../img/arrow-right.svg")
        list-style-position: inside
    &__item
        &:not(:last-child)
            margin-bottom: 16px
    &__link
        font-weight: 300
        font-size: 14px
        line-height: 129%
        color: inherit
        text-decoration: none
    &__bottom
        background-color: $dark
        padding: 24px 0
    &__bottom-container
        display: flex
        justify-content: space-between
    &__policy
        color: inherit
        text-decoration-skip-ink: none

.footer__block--1
    max-width: 456px
    margin-right: 62px

.footer__block--2
    max-width: 280px
    margin-right: 120px

.footer__block--3
    max-width: 280px
