.main-section
    min-height: 100vh
    background-image: url("../img/bg-img-2x.jpg")
    background-repeat: no-repeat
    background-size: cover
    padding-top: 16px
    padding-bottom: 82px
    &__title
        margin-bottom: 41px
        @include adaptive(large)
            font-size: 28px
            text-align: center
            max-width: 345px
            margin: 0 auto
            margin-bottom: 41px
    &__filter
        @include adaptive(large)
            margin: 0 auto
