.offer
    background-color: $grey
    padding-top: var(--padding-top)
    padding-bottom: var(--margin-block)
    &__container
        display: flex
        justify-content: space-between
        align-items: center
        @include adaptive(large)
            flex-direction: column
            gap: 40px
    &__content
        max-width: 589px
    &__min-title
        display: block
        margin-bottom: 8px
    &__title
        margin-bottom: 40px
        @include adaptive(small)
            min-width: 365px
            margin-bottom: 32px
    &__text
        margin-bottom: 40px
        @include adaptive(small)
            min-width: 367px
            margin-bottom: 32px
    &__list
        display: flex
        flex-direction: column
        gap: 40px
        margin-bottom: 40px
        @include adaptive(small)
            margin-bottom: 32px
    &__item
        background-image: url("../img/offer-1.svg")
        background-repeat: no-repeat
        background-position: left center
        padding-left: 66px
    &__item--2
        background-image: url("../img/offer-2.svg")
    &__item--3
        background-image: url("../img/offer-3.svg")
    &__inner-title
        margin-bottom: 4px
    &__btn
        width: 236px
        @include adaptive(large)
            margin: 0 auto
    &__img-wrap
        display: grid
        grid-template-columns: 1fr 1fr
        gap: 10px
        width: 510px
        height: 510px
        @include adaptive(small)
            max-width: 510px
            width: 100%
            height: auto
    &__img
        object-fit: cover
        @include adaptive(small)
            width: 100%
            height: auto

.offer__img--1, .offer__img--4
    border-radius: 0 50px

.offer__img--2, .offer__img--3
    border-radius: 50px 0
