.pictures
    padding-top: 80px
    &__container
        display: flex
        flex-direction: column
        align-items: center
    &__min-title
        margin-bottom: 8px
    &__title
        margin-bottom: 40px
    &__content
        margin-bottom: 50px
    &__link-img
        height: 250px
        grid-column: span 3
    &__img
        width: 280px
        height: 250px
        object-fit: cover
        border-radius: 6px
    &__btn
        width: 178px
    &__news
        transform: translateY(98px)

.pictures__link-img--1
    grid-column: span 6

.pictures__link-img--5
    grid-column: span 6

.pictures__img--1
    width: 580px

.pictures__img--5
    width: 580px
