.product
    padding-top: 80px
    padding-bottom: var(--margin-block)
    &__container
        display: flex
        flex-direction: column
        align-items: center
    &__cards
        display: flex
        gap: 20px
        margin-bottom: 50px
    &__min-title
        display: block
        margin-bottom: 8px
    &__title
        margin-bottom: 50px
    &__btn
        width: 244px
    &__inner-btn
        width: 176px
        height: 44px
