<footer class="footer">
    <div class="container footer__container">
        <nav class="footer__nav">
            <div class="footer__block footer__block--1">
                <h3 class="footer__title inner-title-2">Компания «РумТибет»</h3>
                <p class="footer__text inner-text-1">Его корни уходят в&nbsp;один фрагмент классической латыни 45&nbsp;года н.э., то&nbsp;есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из&nbsp;колледжа Hampden-Sydney.</p>
                <div class="footer__contacts-wrap">
                    <a class="footer__mail" href="mailto:info@domain.com">info@domain.com</a>
                    <a class="footer__tel" href="tel:71234567890">+7 (123) 456-78-90</a>
                </div>
                <div class="footer__social-wrap">
                    <a class="footer__social" href="#"><img class="footer__social-icon" src="img/telegram.svg" alt="телеграм"></a>
                    <a class="footer__social" href="#"><img class="footer__social-icon" src="img/vk.svg" alt="вконтакте"></a>
                    <a class="footer__social" href="#"><img class="footer__social-icon" src="img/pinterest.svg" alt="пинтерест"></a>
                    <a class="footer__social" href="#"><img class="footer__social-icon" src="img/skype.svg" alt="скайп"></a>
                </div>
            </div>

            <div class="footer__block footer__block--2">
                <h3 class="footer__title">Наши услуги</h3>
                <ul class="footer__list">
                    <li class="footer__item"><a class="footer__link" href="#">Прогулки в горы летом</a></li>
                    <li class="footer__item"><a class="footer__link" href="#">Зимние походы в горы</a></li>
                    <li class="footer__item"><a class="footer__link" href="#">Посещение храмов в горах</a></li>
                    <li class="footer__item"><a class="footer__link" href="#">Экстремальные виды туризма</a></li>
                    <li class="footer__item"><a class="footer__link" href="#">Походы в джунглях Амазонии</a><span class="footer__new">new</span></li>
                    <li class="footer__item"><a class="footer__link" href="#">Поездка в Африку</a></li>
                </ul>
            </div>

            <div class="footer__block footer__block--3">
                <h3 class="footer__title">Важно для путешествий</h3>
                <ul class="footer__list">
                    <li class="footer__item"><a class="footer__link" href="#">Как собрать в долгий поход?</a></li>
                    <li class="footer__item"><a class="footer__link" href="#">Жизненно важные предметы для похода</a></li>
                    <li class="footer__item"><a class="footer__link" href="#">Медицинская страховка, гарантии безопасности</a></li>
                    <li class="footer__item"><a class="footer__link" href="#">Если вы врач - загляните сюда</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="footer__bottom">
        <div class="footer__bottom-container container">
            <span class="footer__entity">ИП Константинопольский К.К., 2023</span>
            <a class="footer__policy" href="#">Политика обработки персональных данных</a>
        </div>
    </div>
</footer>