<form class="news pictures__news" action="#" method="post">
    <div class="news__title-wrap">
        <span class="news__min-title min-title">актуально</span>
        <h2 class="news__title title-2">Получайте полезные рассылки о путешествиях</h2>
    </div>

    <div class="news__content">
        <span class="news__title-mail">Введите e-mail адрес</span>
        <div class="news__input-wrap">
            <input class="news__input" type="email" name="email" placeholder="name@domain.com" required>
            <button class="news__btn btn btn--large" type="submit"><span class="btn__inner">Подписаться на новости</span></button>
        </div>
        <div class="news__agreement">подписываясь на&nbsp;новости, вы&nbsp;автоматически соглашаетесь с&nbsp;<a class="news__agreement-link" href="#">условиями обработки персональных данных</a> и&nbsp;<a class="news__agreement-link" href="#">правилами рекламных рассылок</a></div>
    </div>
</fa